body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.ball {
    box-sizing: border-box;
    margin: 2px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: inset 10px 10px 30px black ;

}

.red { background-color: red; }
.blue { background-color: blue; }
.green { background-color: green; }
.yellow { background-color: yellow; }
.purple { background-color: purple; }
.orange { background-color: orange; }

#message {
    margin-top: 20px;
    font-size: 20px;
    color: green;
    font-weight: bold;
}



/*hátéemel*/
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 ;
    padding: 0;
}

.keret{
    position: relative;
    display: flex;
    height:800px;
    width: 1200px;
    border-radius: 50px;
}

/* Nyito oldal*/
.ballzkep{
    width: 1200px;
    text-align: start;

}

.golo{
    height: 100px;
}

#open_page{
    position: absolute;
    border: 3px solid black;
    border-radius: 50px;
    background: linear-gradient(45deg, #f19c79, #f1797a 30% 100%);
    height: 700px;
    width: 100%;
}

#fo_oldal{
    margin-top: 25px;
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#fo_oldal .golo{
    height: 120px;
}

#fo_oldal button{
    margin-top: 30px;
    padding: 10px;
    border-radius: 30px;
    height: 125px;
    width: 300px;
    background-color: #0DBD28;
    font-size: 50px;
    border: 1px solid black;
    box-shadow: 3px 3px 5px black, inset 3px 3px 10px black ;
}

#fo_oldal button:hover{
    box-shadow: 3px 3px 5px black, inset 7px 7px 15px black ;
    cursor: pointer;
}

.bevezeto_szoveg{
    font-size: 30px;
    padding: 0 100px;
}


/* Difficulty*/
#difficulty{
    position: absolute;
    display: none;
    border: 3px solid black;
    border-radius: 50px;
    background-image: url(Kepek/Difficulty\ hatter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
}

#nehezseg{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: end;
}

/* Levels*/
#levels{
    position: absolute;
    display: none;
    border: 3px solid black;
    border-radius: 50px;
    background-image: url(Kepek/Level\ hatter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
}

#szintek{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: end;
}


/* Játék*/
#gameplay{
    position: absolute;
    display: none;
    border: 3px solid black;
    border-radius: 50px;
    background-image: url(Kepek/Jatek_hatter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
}

#jatekmenet{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar{
    width: 1140px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger{
    height: 100px;
    box-sizing: border-box;
    border-radius: 20px;
}

.hamburger:hover{
    background-color: #a58f8f;
    cursor: pointer;
}

#statok{
    display: flex;
}

#statok p{
    font-size: 30px;
    padding-right: 40px;
    margin-right: 70px;
}

#diff{
    color: grey;
    opacity: 0.8;
}

#level{
    color: grey;
    opacity: 0.8;
}

#jatek{
    width: 1160px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    padding-bottom: 0;
    height: 450px;
    display: flex;
    align-items: end;
    justify-content: space-around;

}


.golóhordozó{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.lid{
    background-image: url(Kepek/Üvegcseteteje.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid black;
    border-radius: 30px;
    margin-bottom: -5px;
    z-index: 1;
    width: 160px;
    height: 30px;
}

.glass{
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    margin: 0 10px;
    height: 380px;
    width: 120px;
    background-color: #5DC7FC;
    opacity: 0.49;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 5px solid black;
    box-shadow: inset 10px 10px 30px black ;

}

.ujra{
    height: 70px;
    width: 70px;
    border-radius: 70px;
    border: 3px solid black;
    background-color: #B9A8A8;

}

.ujra img{
    height: 40px;
    width: 40px;
}

.ujra:hover{
    background-color: #a58f8f;
    cursor: pointer;
}